#################################################
# Terraform

.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

#################################################
# Variables

*.tfvars
!environments/**/terraform.tfvars.example

#################################################
# VS Code

.vscode/

#################################################
# IntelliJ

.idea/

#################################################
# Linux

.DS_Store