# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Variables sensibles
*.tfvars
!terraform/environments/dev/terraform.tfvars.example

# Plans
*.tfplan

# Overrides
override.tf
override.tf.json

# CLI configuration files
.terraformrc
terraform.rc

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db